.col-1{
    flex-basis: 35%;
}

.col-2{
    flex-basis: 60%;
}


h4::before{
    content: "A";
}

h4::first-letter{
    font-size: 30px;
}

h4::first-line{
    font-weight: bold;
}

h1{
    color: teal;
    font-weight: bold;
}

.copyright{
    width: 100%;
    margin-top: 5%;
    text-align: center;
    padding: 25px 0;
    background-color: gray;
    opacity: 0.5;
}

.Copyrighttext{
    color: white;
    font-size: large;
    font-weight: 300;
}
