table {
    width: 80%;
    border-collapse: collapse;
    border: 2px solid;
    margin-left: 10%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid black;
    border-right: 1px solid
}

th {
    background-color: lightblue;
}

.title{
    color: black;
    margin-top: 5%;
    margin-left: 5%;
    font-size: 60px;
    font-weight: 400;
}

.img-arugambay{
    width: 1000px ;
    height: 500px;
    margin-left: 10%;
}

.des-aru{
    margin-left: 5%;
    font-size: large;
}

.des-aru::before{
    content: "A";
}

.des-aru::first-letter{
    font-size: 30px;
}

.des-aru::first-line{
    font-weight: bold;
}

.dec2{
    margin-left: 5%;
    font-size: large;
}

.copyright{
    width: 100%;
    margin-top: 5%;
    text-align: center;
    padding: 25px 0;
    background-color: gray;
    opacity: 0.5;
}

.Copyrighttext{
    color: white;
    font-size: large;
    font-weight: 300;
}