.Heading{
    margin-top: 5%;
    margin-left: 5%;
    font-size: x-large;
    font-weight: 400;
}

h4::before{
    content: "G";
}

h4::first-letter{
    font-size: 30px;
}

h4::first-line{
    font-weight: bold;
}

.Heading img{
    width: 50%;
    height: 400%;
}

.Heading h4{
    font-weight: 100;
}

.Heading ul li h2{
    font-weight: 200;
    font-size: 25px;
}

.copyright{
    width: 100%;
    margin-top: 5%;
    text-align: center;
    padding: 25px 0;
    background-color: gray;
    opacity: 0.5;
}

.Copyrighttext{
    color: white;
    font-size: large;
    font-weight: 300;
}
