/*----------------------------- Home -----------------------*/

body{
    background-size: cover;
    background-color: beige;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(/assest/images/home.jpg);
    background-size: cover;
    background-position: center;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

.container{
    padding: 0px 2%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.logo{
    width: 100px;
    height: 70 px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 17px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: black;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 5%;
    font-size: 12px;
    align-items: center;
}

.header-text h1{
    font-size: 60px;
    margin-top: 10px;
}

.header-text h1 span{
    color: white;
}

.img{
    padding: 0% 100%;
    width: 100px;
}

.welcome{
    margin-top: 28%;   
    font-size: 20px;
    color: aliceblue;
    margin-left: 35%;
}

.newsFeed{
    display: none;
}



/*----------------------------- About -----------------------*/
#About{
    padding: 80px 0;
    color: black;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;

}

.about-col-1 img{
    width: 120%;
    height: 102%;
    border-radius: 15px;
    padding-left: 1%;
    margin-top: 15%;
    padding: 2% 0px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 50px;
    font-weight: 600;
    color: black;
    margin-top: 11%;
    margin-left: 75%;
}

.pharagraph{
    margin-left: 10%;
}

.points{
    margin-left: 25%;
    margin-top: 5%;
}

.pharagraph-2{
    margin-left: 10%;
    margin-top: 5%;
}

/*----------------------------- Destinations -----------------------*/

#destinations{
    margin-left: 0%;
    margin-top: 2%;
    color: black;
    flex-basis: 60%;
    font-size: 25px;
    font-weight: 600;
}

.destinations-list {
    display: grid;
    grid-gap: 40px;
    margin-top: 50px;
    margin-left: 10%;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr); /* Adjust columns to 4 components per row */
    justify-self: center;
    margin-left: 0%;
}

.destinations-list div {
    background-color: yellow;
    padding: 50px;
    font-size: 13px;
    font-weight: 300;
    border-right: 10px;
    transition: background 0.5s, transform 0.5s;
    background-size: cover;
    background-position: center;
}

.destinations-list div:nth-child(1){
    background-image: url(/assest/images/Gallefort.jpg);
}

.destinations-list div:nth-last-child(7){
    background-image: url(/assest/images/EllaRockDestination.jpg);
}

.destinations-list div:nth-last-child(6){
    background-image: url(/assest/images/Ambuluwawa.jpg);
}

.destinations-list div:nth-last-child(5){
    background-image: url(/assest/images/ArugambayDestinationPage.jpg);
}

.destinations-list div:nth-last-child(4){
    background-image: url(/assest/images/Yala.webp);
}

.destinations-list div:nth-last-child(3){
    background-image: url(/assest/images/NineArchDestination.jpg);
}

.destinations-list div:nth-last-child(2){
    background-image: url(/assest/images/Sinharaja_Rain_Forest.jpg);
}

.destinations-list div:nth-last-child(1){
    background-image: url(/assest/images/Mirissa.jpg);
}

.destinations-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.destinations-list div a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 250px;
    display: inline-block;
}

.destinations-list div:hover {
    transform: translateY(-10px);
    opacity: 0.5;
}


/*----------------------------- Contact Us -----------------------*/

#contact{
    margin-top: 5%;
    color: black;
    flex-basis: 60%;
    font-size: 25px;
    font-weight: 600;
    background-image: url(/assest/images/ContactUs.jpg);
    background-size: cover;
    height: 590px;
}

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
    margin-left: 10%;
    margin-top: 2%;
}

.btn{
    display: inline;
    background-color: white;
    width: 130px;
    height: 30px;
    padding: 7px;
    font-size: large;
    font-weight: 300;
    border: none;
    border-radius: 20px;
    
}

.btn:hover{
    background-color: yellow;
    cursor: pointer;
}

.contact-right form{
    width: 80%;
    height: 10%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: white;
    padding: 4%;
    margin: 3% 0;
    margin-top: 0%;
    color: black;
    font-size: 18px;
    border-radius: 6px;
}

.copyright{
    width: 100%;

    text-align: center;
    padding: 25px 0;
    background-color: gray;
    opacity: 0.5;
}

.Copyrighttext{
    color: white;
    font-size: large;
    font-weight: 300;
}

/*----------------------------- Add Details -----------------------*/

#AddDetails{
    margin-top: 1%;
    color: black;
    flex-basis: 60%;
    height: 740px;
    font-size: 25px;
    font-weight: 600;
    background-image: url(/assest/images/InformationFormBackground.jpg);
    background-size: cover;
}

table{
    border: 1px solid white;
    
}

td{
    border: 1px solid white;
    padding: 10px;
}

/*----------------------------- CSS for small screen -----------------------*/

@media only screen and (max-with: 600px){
    body{
        background-image: url(/assest/images/homeR.jpg);
    }

    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1{
        font-size: 30px;
    }
}



