table {
    width: 80%;
    border-collapse: collapse;
    border: 2px solid;
    margin-left: 6%;
    margin-top: 5%;
    font-size: large;
}

   th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid black;
        border-right: 1px solid
    }

th {
    background-color: lightblue;
}

.title{
    color: black;
    margin-top: 5%;
    margin-left: 5%;
    font-size: 60px;
    font-weight: 400; 
}

.IMG-YALA{
    margin-left: 15%;
    width: 70%;
}

.copyright{
    width: 100%;
    margin-top: 5%;
    text-align: center;
    padding: 25px 0;
    background-color: gray;
    opacity: 0.5;
}

.Copyrighttext{
    color: white;
    font-size: large;
    font-weight: 300;
}
