/* ---------------- Galle Fort ---------------- */
.Heading{
    margin-top: 5%;
    margin-left: 5%;
    font-size: x-large;
    font-weight: 400;
}

.Heading img{
    width: 50%;
    height: 400%;
}

.Heading h4{
    font-weight: 100;
}

.Heading ul li h2{
    font-weight: 200;
    font-size: 25px;
}

/* ---------------- Ella Rock ---------------- */
.ellaRock-img{
    background-image: url(assest/ellaRock01.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                height: 100vh;
                margin: 0;
                padding: 0;
}

/* ---------------- Ambuluwawa Tower ---------------- */
.col-1{
    flex-basis: 35%;
}

.col-2{
    flex-basis: 60%;
}

/* ---------------- Arugambay Beach ---------------- */

body{
    background-image: url(assest/pexels-oleksandr-p-330260.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.title{
    color: white;
    margin-top: 5%;
    margin-left: 5%;
    font-size: 60px;
    font-weight: 400;
}