/*----------------------------- Home -----------------------*/
body{
    background-color: beige;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

.container{
    padding: 0px 2%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.logo{
    width: 100px;
    height: 70
    px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 17px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: black;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 5%;
    font-size: 12px;
    align-items: center;
}

.header-text h1{
    font-size: 60px;
    margin-top: 10px;
}

.header-text h1 span{
    color: white;
}

.img{
    padding: 0% 100%;
    width: 100px;
}

.welcome{
    margin-top: 28%;   
    font-size: 20px;
    color: aliceblue;
    margin-left: 35%;
}


/*----------------------------- About -----------------------*/
#About{
    padding: 80px 0;
    color: black;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;

}

.about-col-1 img{
    width: 120%;
    height: 102%;
    border-radius: 15px;
    padding-left: 1%;
    margin-top: 15%;
    padding: 2% 0px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 50px;
    font-weight: 600;
    color: black;
    margin-top: 11%;
    margin-left: 75%;
}

.pharagraph{
    margin-left: 10%;
}

.points{
    margin-left: 25%;
    margin-top: 5%;
}

.pharagraph-2{
    margin-left: 10%;
    margin-top: 5%;
}